.main {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #007b9a;
    height: 100vh;
}

.results,.nominations {
    width: 45%;
    background-color: #fff;
    border-radius: 15px;
    margin:1rem;
    height: fit-content;
}


h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    padding: 1rem;
}

.movie {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.title {
    margin-right: 1rem;
    font-size: 1rem;
    text-align: left;

}

button {
  background: linear-gradient(to right, #00c3e3,#03dfe5);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  height: fit-content;
  letter-spacing: -.5px;
  line-height: 20px;
  cursor: pointer;
}


.search {
    margin-bottom: auto;
}

input {
    height: 2rem;
    margin: 1rem;
    font-size: 1rem;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      transition: transform ease-in-out;
      box-shadow: 3px 5px 7px $black;
    }
  
    50% {
      transform: scale(1.1);
      transition: transform ease-in-out;
      box-shadow: 3px 5px 7px $black;
    }
    100%{
      transform: scale(1);
      transition: transform ease-in-out;
      box-shadow: 3px 5px 7px $black;
    }
}

button:hover {
  animation: pulse .3s;
  box-shadow: 3px 5px 7px $black;
  z-index: 0;
}

button:disabled {
    background: linear-gradient(to right, #00c3e3,#03dfe5);
    
}

button:disabled:hover {
    animation: none;
}


.modal.show .modal-dialog {
    height: 5rem;
    background-color: #fff;
    border-radius: 15px;
}

.modal-content {
    border: none;
}

.btn {
    padding: 20px 30px;
    width: fit-content;
    margin: 0 auto;
    border: none !important;
}

.movie-poster-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-poster {
    width: 75px;
    margin: 5px;
}


